.xbutton {
    display: block;
    color: red;
    width: 100px;
    position: fixed;


}
.xwraper{
    
    position: fixed;
    background: white;
    display: block;
    bottom: 0;
    width: 50%;
    right: 0;
    border: 2px black dotted;
}